/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.primary-color {
    color: #673ab7;
}

.view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    overflow-y: auto;
    padding-bottom: 0;
    height: 100vh;
}