@media (min-width: 774px) {
    .create-acct-container {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 775px;
    }

    .width100 {
        width: 100%;
    }
}